p-wide {
    padding: 8px;
}

p-normal {
    padding: 4px;
}

p-fit {
    padding: 2px;
}

p-small {
    padding: 1px;
}

p-none {
    padding: 0;
}

m-wide {
    margin: 4px;
}

m-normal {
    margin: 2px;
}

m-fit {
    margin: 1px;
}

m-none {
    margin: 0;
}

