.grid-container {
    display: grid;
    padding: 0;
    grid-template-columns: minmax(200px, 1fr) repeat(4, 1fr);
    grid-template-rows: 80px calc(100vh - 80px);
    margin: 0;
    border: 0;
}

.nav-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    height: 100vh;
    border-right: 0.2px solid var(--secondary);
}

.header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    height: 80px;
}

.content {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    height: calc(100vh - 80px);
}

.content-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 40%;
    margin: 5px;
    padding-top: 1px;
}

content-row {
    grid-column: 1 / 3;
    text-align: center;
}

.content-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem;
}

content-key {
    border: 0.5px solid var(--dark);
    color: var(--primary);
    background-color: var(--white);
    margin-left: 2px;
    margin-right: 2px;
}

.content-message {
    position: absolute;
    top: 30%;
    left: 45%;
    max-width: 600px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: var(--white);
    color: var(--dark);
    border: 2px inset var(--primary);
    opacity: 85%;
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 7px 0px var(--dark);
    -moz-box-shadow: 5px 5px 7px 0px var(--dark);
    box-shadow: 5px 5px 7px 0px var(--dark);
    font-size: x-small;
    font-weight: bold;
    font-family: 'Clan Pro News', 'DejaVu Sans', 'Tahoma', 'Geneva', 'Arial', 'sans';
    z-index:10000;
}

.content-message:empty {
    display: none;
}

.content-badge {
    display: grid;
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 1fr;
    text-align: center;
}
