.grid-container {
    display: grid;
    padding: 0;
    grid-template-columns: minmax(200px, 1fr) repeat(4, 1fr);
    grid-template-rows: 80px calc(100vh - 80px);
    margin: 0;
    border: 0;
}

.nav-left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    height: 100vh;
    border-right: 0.2px solid var(--secondary);
}

.header {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    height: 80px;
}

.content {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    height: calc(100vh - 80px);
}

.content-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: 40%;
    margin: 5px;
    padding-top: 1px;
}

content-row {
    grid-column: 1 / 3;
    text-align: center;
}

.content-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem;
}

content-key {
    border: 0.5px solid var(--dark);
    color: var(--primary);
    background-color: var(--white);
    margin-left: 2px;
    margin-right: 2px;
}

.content-message {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: var(--dark);
    opacity:0.75;
    color: var(--white);
    border: 1px solid var(--dark);
    border-radius: 10px;
    z-index:10000; 
}

.content-message:empty {
    display: none;
}

.content-badge {
    display: grid;
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 1fr;
    text-align: center;
}
