## Linux: DejaVu
## MS: Tahoma
## 
body {
    font-family: 'Clan Pro News', 'DejaVu Sans', 'Tahoma', 'Geneva', 'Arial', 'sans';
    display: grid;
}

.ff-default { 
    font-family: 'Clan Pro News', 'DejaVu Sans', 'Tahoma', 'Geneva', 'Arial', 'sans';
}

form { display: grid; }

h1 {
    font-family: 'Clan Pro Bold', 'Liberation Sans Bold', 'Gadget', 'Arial Black';
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
    padding-top: 1rem;
}

h2 {
    font-size: large;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

h3 {
    font-size: smaller;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 0;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
    height: 0.001rem;
    color: var(--i-green);
    border-style: solid;
}

pre {
    font-family: 'DejaVu Mono', 'Lucida Console', 'Monaco', 'Courier New', monospace;
    font-size: xx-small;
    border: 1px dotted var(--i-blue-01);
    color: black;
    background-color: white;
    overflow: auto;
    height: 30vh;
    width: 30vw;
    padding: 10px;
}

a { text-decoration: none; }
a:link { color: var(--i-blue-01); }
a:visited { color: var(--i-blue-02); }
a:hover { color: var(--i-green); }
a:active { color: var(--i-blue-03); }

ul {
    padding: 0;
    margin: 0;
}

ol {
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.with-bullets {
    list-style: decimal;
    list-style-type: disc;
    list-style-position: side;
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-title {
    font-size: larger;
}

.normal {
    font-size: x-small;
    font-weight: 100;
    padding-top: 4px;
    padding-bottom: 1px;
}

.small {
    font-size: xx-small;
    font-weight: lighter;
    padding-bottom: 1px;
}

.tw-bold {
    font-weight: bold;
}

.ta-right {
    text-align: right;
    padding-right: 10px;
}
