{% extends "base.html" %}

{% block content %}
<section class="header light bg-icatu-azul-01"> 
    <h1>Certificate Key/Signing Request</h1> 
</section>
<section class="nav-left icatu-azul-01 ">
  <div style="text-align: center">
    <img src={{ config['GENCSR_LOGO'] }} width="auto" height="80"/>
  </div>
  {% include "instructions.html" %}
</section>
<section class="content icatu-azul-01 bg-light">
  <p />
  <div>
    <hr>
    <form method="POST" action="/">
      <section class="content-row form-title tw-bold" style="text-align: center">Certificate Attributes</section>
      <section id="theForm" class="content-form">
        {{ form.csrf_token }}
        <div></div><div class="warning small">* required fields</div>
        <div class="ta-right normal">{{ form.country.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.country }}</div>
        <div class="ta-right normal">{{ form.state.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.state }}</div>
        <div class="ta-right normal">{{ form.locality.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.locality }}</div>
        <div class="ta-right normal">{{ form.org_name.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.org_name }}</div>
        <div class="ta-right normal">{{ form.org_unit_name.label }}:</div>
        <div>{{ form.org_unit_name }}</div>
        <div class="ta-right normal">{{ form.common_name.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.common_name }}</div>
        <div class="ta-right normal">{{ form.email.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.email }}</div>
        <div class="ta-right normal">{{ form.ipaddr.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.ipaddr }}</div>
        
      </section>
      <div class="content-row" style="text-align: center;">
        <hr>
        <input type="button"  style="cursor: pointer;" id="generate_pair" onclick="generate_key_csr_pair()" class="white bg-success p-wide br-5 b-10 b-info " value="Generate Key/CSR Pair" />
      </div>
      <hr>
    </form>
    <section class="content-results">
      <div class="content-key">
        KEY 
        <span onclick="copy_contents('show_key')" style="cursor: pointer;"><i class="fa fa-copy"></i></span>
        <span onclick="download_contents('show_key', 'key')" style="cursor: pointer;"><i class="fa fa-download"></i></span>
        <pre id="show_key">
        </pre>
      </div>
      <div class="content-key">
        CSR 
        <span onclick="copy_contents('show_csr')" style="cursor: pointer;"><i class="fa fa-copy"></i></span>
        <span onclick="download_contents('show_csr', 'csr')" style="cursor: pointer;"><i class="fa fa-download"></i></span>
        <pre id="show_csr">
        </pre>
      </div>
    </section>
    <hr>
</section>
<section class="content-message" id="show_message"></section>
{% endblock %} 
