{% extends "base.html" %}

{% block content %}
<section class="nav-left i-blue-01">
  <div style="text-align: center; height: 80px">
    <img src={{ url_for('.static', filename=config['GENKEYCSR_LOGO']) }} width="auto" height="80px"/>
  </div>
  {% include "instructions.html" %}
</section>
<section class="header light bg-i-blue-01"> 
    <h1>Certificate Key/Signing Request</h1> 
</section>
<section class="content">
  <div>
    <hr>
    <form method="POST" action="/">
      <section class="content-row form-title" style="text-align: center"><h2>Certificate Attributes</h2></section>
      <section id="theForm" class="content-form">
        <div></div><div class="warning small">* required fields</div>
        <div class="ta-right normal">{{ form.country.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.country }}</div>
        <div class="ta-right normal">{{ form.state.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.state }}</div>
        <div class="ta-right normal">{{ form.locality.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.locality }}</div>
        <div class="ta-right normal">{{ form.org_name.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.org_name }}</div>
        <div class="ta-right normal">{{ form.org_unit_name.label }}:</div>
        <div>{{ form.org_unit_name }}</div>
        <div class="ta-right normal">{{ form.common_name.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.common_name }}</div>
        <div class="ta-right normal">{{ form.email.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.email }}</div>
        <div class="ta-right normal">{{ form.ipaddr.label }}<span class="warning small">*</span>:</div>
        <div>{{ form.ipaddr }}</div>
        <div class="ta-right normal">{{ form.self_signed.label }}:</div>
        <div style='margin-left: -4px;'>{{ form.self_signed }}</div>
        {{ form.csrf_token }}
      </section>
      <div class="content-row" style="text-align: center;">
        <hr>
        <input type="button"  style="cursor: pointer;" onclick="generate_pair()" class="white bg-success  br-5 b-10 b-info " value="Generate!" />
      </div>
      <hr>
    </form>
    <section class="content-results">
      <div class="content-key">
        KEY 
        <span onclick="copy_contents('show_key')" style="cursor: pointer;"><i class="fa fa-copy"></i></span>
        <span onclick="download_contents('show_key', 'key')" style="cursor: pointer;"><i class="fa fa-download"></i></span>
        <pre id="show_key">
        </pre>
      </div>
      <div class="content-key">
        <span id="cert_title">CSR </span>
        <span onclick="copy_contents('show_cert')" style="cursor: pointer;"><i class="fa fa-copy"></i></span>
        <span onclick="download_contents('show_cert', 'cert')" style="cursor: pointer;"><i class="fa fa-download"></i></span>
        <pre id="show_cert">
        </pre>
      </div>
    </section>
    <hr>
</section>
<section class="content-message" id="show_message"></section>
{% endblock %} 
