<hr class="i-blue-01" style="margin-top: -2px; margin-left: 0px; margin-bottom: 10px; margin-right: 0px;" />
  <span style="margin-left: 10px;">Instructions:</span>
  <div class="small">
   <p>
   <div style="padding-left: 10px; margin: 0px; margin-bottom: 0;"><span class="tw-bold">Fill in </span>the fields with correct values:</div>
   <ol style="margin-top: 0px; padding-top: 2px;">
      <li class="with-bullets">Country is a valid 2-letter code as in <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Decoding_table" target="_blank">iso-3166-alpha</a>.</li>
      <li class="with-bullets">State, locality and org_name are free to type text.</li>
      <li class="with-bullets">org_unit_name is optional. It is the only non required field.</li>
      <li class="with-bullets">Common name is the fully qualified host name.</li>
      <li class="with-bullets">IPAddress is a valid ip address. I should check if common_name resolves to this ip address, but I'm lazy and if it doesn't work it's not my problem</li>
   </ol>
   </p>
    <p />
    <hr class="i-blue-01" style="margin-top: 10px; margin-left: 4px; margin-bottom: 10px; margin-right: 4px;">
    <p style="margin: 4px;">
       <span class="tw-bold">Click</span> 'Generate Key/CSR Pair' button.<br/>
       The new Key and CSR will be shown bellow the form.
    </p>
    <hr class="i-blue-01" style="margin-top: 10px; margin-left: 4px; margin-bottom: 10px; margin-right: 4px;">
    <p style="margin: 4px;">
       You can <span class="tw-bold">Copy</span> <i class="fa fa-copy"></i></span> them to the clipboard 
       or you can <span class="tw-bold">download</span> <i class="fa fa-download"></i></span> them as <br />
       <span class="dark tw-bold">{common_name}.key</span>
       <br /> and <br />
       <span class="dark tw-bold">{common_name}.csr</span>.
    </p>
  </div>
<hr class="i-blue-01" style="margin-top: 0px; margin-left: 4px; margin-bottom: 10px; margin-right: 4px;">
<div class="content-badge">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
   width="74" height="20" role="img" aria-label="Just: Relax">
   <title>Just: Relax</title>
   <linearGradient id="s" x2="0" y2="100%">
      <stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/>
   </linearGradient>
   <clipPath id="r">
      <rect width="74" height="20" rx="3" fill="#fff"/>
   </clipPath>
   <g clip-path="url(#r)">
      <rect width="33" height="20" fill="#555"/><rect x="33" width="41" height="20" fill="#1b3157"/>
      <rect width="74" height="20" fill="url(#s)"/>
   </g>
   <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
      <text aria-hidden="true" x="175" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="230">Just</text>
      <text x="175" y="140" transform="scale(.1)" fill="#fff" textLength="230">Just</text>
      <text aria-hidden="true" x="525" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="310">Relax</text>
      <text x="525" y="140" transform="scale(.1)" fill="#fff" textLength="310">Relax</text>
   </g>
</svg>
</div>
